<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="assets/css/reset.css" media="all">
    <link type="text/css" rel="stylesheet" href="assets/css/screen.css" media="all">
    <title>Document</title>
</head>
<body>
    <div class="car">
        <div class="car-photo">
            <div class="car-photo__shield">
                <div class="car-photo__shield-item2">
                    <span>Мы советуем</span>
                </div>
                <div class="car-photo__shield-item3_1">
                    <span>Новинка</span>
                </div>
            </div>
            <div class="car-photo__img">
                <img src="images\content\06188daa7e30c921ac820cd76c81f99e.png" alt="Backen Ponevira" class="car-photo__img">
            </div>
        </div>
        <div class="car-description">
            <a href="#" class="car-description__name">Backen Ponevira</a>
            <div class="car-description__text">
            Люксовый автомобиль, который сумел объединить в себе 
            несочетаемое: мощность и комфорт, динамику и экономичность, 
            бизнес и поездки с семьей.
            </div>
            <div class="car-description__techs">
                <div class="car-description__techs-list">
                    Мощность, л.с. &#8212; <em>440</em>
                </div>
                <div class="car-description__techs-list">
                    Объем двигателя, куб. см. &#8212; <em>2894</em>
                </div>
                <div class="car-description__techs-list">
                    Разгон до 100 км/ч, &#8212; <em>4.4</em>
                </div>
            </div>
        </div>
        <div class="car-info">
            <div class="info-block1">
                <div class="info-block1__avlblty_minus">
                    Ожидается
                </div>
                <div class="info-block1__price">
                    от 6 218 000 р.
                </div>
                <div class="info-block1__bar">
                    <a href="#" class="info-block1__bar-button1">
                        <span class="info-block1__bar-item1">
                            &#8211; 
                        </span>
                    </a>
                    <div class="info-block1__bar-amount">
                        1
                    </div>
                    <a href="#" class="info-block1__bar-button2">
                        <span class="info-block1__bar-item2">
                            &#43; 
                        </span>
                    </a>
                </div>
                <input type="button" value="В корзину" class="info-block1__buy-button">
            </div>
            <div class="info-block2">
                <div class="info-block2__source">
                    <div class="info-block2__source-item">
                        <img src="images\design\info.png" alt="info" class="">
                    </div>
                    <div class="info-block2__source-text">
                        Немецкая сборка
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="car">
        <div class="car-photo___availaible">
            <div class="car-photo__shield">
                <div class="car-photo__shield-item1">
                    <span>Акция</span>
                </div>
                <div class="car-photo__shield-item2">
                    <span>Мы советуем</span>
                </div>
                <div class="car-photo__shield-item3">
                    <div class="car-photo__shield-item3_1">
                        <span>Новинка</span>
                    </div>
                    <div class="car-photo__shield-item3_2">
                        <span>Хит</span>
                    </div>
                </div>
            </div>
            <div class="car-photo__img">
                <img src="images\content\b733a8118d284c23fddf3bb648321d47.png" alt="Backen Mocen" class="car-photo__img">
            </div>
        </div>
        <div class="car-description">
            <a href="#" class="car-description__name">Backen Mocen</a>
            <div class="car-description__text">
                Спортивный кроссовер для тех, кто предпочитает быть всегда 
                первым – эффектный вид, полный привод, возвышенная 
                посадка и мощный двигатель.
            </div>
            <div class="car-description__techs">
                <div class="car-description__techs-list">
                    Мощность, л.с. &#8212; <em>360</em>
                </div>
                <div class="car-description__techs-list">
                    Объем двигателя, куб. см. &#8212; <em>2997</em>
                </div>
                <div class="car-description__techs-list">
                    Разгон до 100 км/ч, &#8212; <em>5.2</em>
                </div>
            </div>
        </div>
        <div class="car-info">
            <div class="info-block1">
                <div class="info-block1__avlblty_plus">
                    В наличии
                </div>
                <div class="info-block1__price">
                    от 5 506 000 р.
                </div>
                <div class="info-block1__price_sale">
                    5 720 000 р.
                </div>
                <div class="info-block1__bar_availaible">
                    <a href="#" class="info-block1__bar-button1">
                        <span class="info-block1__bar-item1">
                            &#8211; 
                        </span>
                    </a>
                    <div class="info-block1__bar-amount">
                        1
                    </div>
                    <a href="#" class="info-block1__bar-button2">
                        <span class="info-block1__bar-item2">
                            &#43; 
                        </span>
                    </a>
                </div>
                <input type="button" value="В корзину" class="info-block1__buy-button">
            </div>
            <div class="info-block2">
                <div class="info-block2__source">
                    <div class="info-block2__source-item">
                        <img src="images\design\info.png" alt="info" class="">
                    </div>
                    <div class="info-block2__source-text">
                        Прямая поставка из Германии
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
